<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HackaDisplay</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
    <div class="ProjectPage">
        <div class="ProjectTitle Margin" th:text="${projectPage.getName()}">Name</div>
        <div class="ProjectSumm Margin" th:text="${projectPage.getSummary()}">Summary</div>
        <div class="ProjectContent">
            <div class="ProjectImagesSection Margin">
                <div class="ProjectImageSelector">
                    <div class="ProjectImageSelectSection" th:each="image, i: ${projectPage.getImageSet().getImages()}"><img class="ProjectImageSelect" th:src="${image.getUrl()}" alt="not found" th:onclick="'showImage('+${i.index}+')'"></div>
                </div>
                <div class="ProjectMainImageSection">
                    <img class="ProjectMainImage" th:each="image: ${projectPage.getImageSet().getImages()}" th:src="${image.getUrl()}" alt="not found">
                </div>
            </div>
            <div class="ProjectInfoSection Margin">
                <div class="ProjectDescription" ><div th:remove="tag" th:utext="${projectPage.getDescription()}">Description</div></div>
                <div class="ProjectOtherInfo">
                    <div class="ProjectInfo" th:text="${'Followers: '+projectPage.getFollowers()}">followers</div>
                    <div class="ProjectInfo" th:text="${'Skulls: '+projectPage.getSkulls()}">skulls</div>
                    <div class="ProjectInfo" th:text="${'Created: '+projectPage.getCreatedFormatted()}">created</div>
                    <div class="ProjectInfo" th:text="${'Updated: '+projectPage.getUpdatedFormatted()}">updated</div>
                </div>
            </div>

            <div class="ProjectOwnerSection Margin">
                <div class="ProjectOwnerPicSection"><img class="ProjectOwnerPic" th:src="${projectPage.getOwner().getImage_url()}" alt="Not Found"></div>
                <div class="ProjectOwnerTextSection">
                    <div class="ProjectSumm Margin">The Creator:</div>
                    <div>
                        <div class="ProjectOwnerName" th:text="${projectPage.getOwner().getScreen_name()}">name</div>
                        <a class="ProjectOwnerUName" th:href="${projectPage.getOwner().getUrl()}" th:text="${projectPage.getOwner().getUsername()}">U name</a>
                    </div>
                    <div th:if="${projectPage.getOwner().getWho_am_i() != null && !projectPage.getOwner().getWho_am_i().equals('')}">
                        <div class="ProjectOwnerAboutTitle">Who I am:</div>
                        <div class="ProjectOwnerAbout"><div th:remove="tag" th:utext="${projectPage.getOwner().getWho_am_i()}">about</div></div>
                    </div>
                    <div th:if="${projectPage.getOwner().getAbout_me() != null && !projectPage.getOwner().getAbout_me().equals('')}">
                        <div class="ProjectOwnerAboutTitle">About me:</div>
                        <div class="ProjectOwnerAbout"><div th:remove="tag" th:utext="${projectPage.getOwner().getAbout_me()}">about</div></div>
                    </div>
                    <div th:if="${projectPage.getOwner().getWhat_i_would_like_to_do() != null && !projectPage.getOwner().getWhat_i_would_like_to_do().equals('')}">
                        <div class="ProjectOwnerAboutTitle">What I would like to do:</div>
                        <div class="ProjectOwnerAbout"><div th:remove="tag" th:utext="${projectPage.getOwner().getWhat_i_would_like_to_do()}">about</div></div>
                    </div>
                    <div th:if="${projectPage.getOwner().getWhat_i_have_done() != null && !projectPage.getOwner().getWhat_i_have_done().equals('')}">
                        <div class="ProjectOwnerAboutTitle">What I have done:</div>
                        <div class="ProjectOwnerAbout"><div th:remove="tag" th:utext="${projectPage.getOwner().getWhat_i_have_done()}">about</div></div>
                    </div>
                </div>
            </div>
            <div class="ProjectTagHolder"><div class="ProjectTagSection"><div class="ProjectTag">Tags: </div><div class="ProjectTag" th:each="tag: ${projectPage.getTags()}" th:text="${tag}"></div></div></div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/imageControl.js}"></script>
</body>
</html>